@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center jumbotron">
            <h1>Welcome to the Portland Trail</h1>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>About</p>
	</div>
	<div class="col-md-6">
        <p>Page links</p>
	</div>
</div>