@{
    ViewData["Title"] = "Welcome";
}

<h1>The Portland Trail</h1>
<h3>Enter Your Name:</h3>
<form action='/player/home' method='post'>

  <label for='new-name'>Name: </label>
  <input id='new-name' name='name' type='text'>

  <button type='submit'>Add Player</button>
</form>

<div class="">
  <a href="/player/home">Go to Game</a>
</div>
