<div class="row">
    <div class="col-md-12">
        <h1 id="heading-result"></h1>
		<p id="adventure-text"></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="images">
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-6 well">
		<p align="center">Food</p>
	</div>
	<div class="col-md-6 well">
		<p align="center">Rest</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 well">
		<p align="center">Mood</p>
    </div>
    <div class="col-md-6 well">
		<p align="center">Explore</p>
    </div>
</div>