<div class="row">
    <div class="col-md-12">
        <h1 id="heading-result"></h1>
		<p id="adventure-text"></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="images">
		</div>
	</div>
</div>
<div class="row">
    <div align="center" class="col-md-6 well">
        <form action="/player/{id}/food">
            <button class="btn btn-primary" type="submit">Search for Food</button>
        </form>
	</div>
	<div align="center" class="col-md-6 well">
        <form action="/player/{id}/rest">
            <button class="btn btn-primary" type="submit">Rest up</button>
        </form>
    </div>
</div>
<div class="row">
    <div align="center" class="col-md-6 well">
        <form action="/player/{id}/fix">
            <button class="btn btn-primary" type="submit">Elevate Mood</button>
        </form>
    </div>
    <div align="center" class="col-md-6 well">
        <form action="/player/{id}/pass">
            <button class="btn btn-primary" type="submit">Explore Neighborhoods</button>

        </form>

    </div>
</div>
