<h1>You died!!!</h1>


<form action="/players">
    <button type="submit" class="btn btn-info ot-btn-content">Back To Game</button>
</form>

<form action="/">
    <button type="submit" class="btn btn-info ot-btn-content">Go Home</button>
</form>

<img src="/images/skull.png" alt="skull" width="500" height="500">
