@using ThePortlandTrail.Models
<h1>The Portland Trail</h1>
@if (@Model.Count == 0) {
<h4>No players have been added yet!</h4>
} 
@foreach (var Player in Model) {
<p><a class="whiteLink" href="/Player/@Player.GetId()/Details">@Player.GetName()</a> <a href="/Player/@Player.GetId()/Update">Edit</a>
<form action="/Player/@Player.GetId()/Delete" method="post">
    <button type="submit" class="btn btn-link">Delete Player</button>
</form></p>
}

<form action="/Players/NewPlayer" method="post">
    <div class="form-group">
        <label for="inputPlayer">Add Player:</label>
        <input class="form-control" name="inputPlayer" id="inputPlayer" required>
        <button type="submit" class="btn btn-info btn-xs">Submit</button>
    </div>
</form>

<form action="/Players/Delete" method="post">
    <button type="submit" class="btn btn-danger">Delete All Players</button>
</form>

<form action="/">
    <button type="submit" class="btn btn-info">Got To Homepage</button>
</form>